<div class="row pt-3">
    <div class="col-lg-4 logo-area">
        <div class="logo-image">
            <img src="/assets/klubilogo.png" alt="">
        </div>
        <div class="logo-name">
            PUHAS HIGI
        </div>
    </div>
    <div class="col-lg-8 pais-menyy">
        <ul class="d-md-flex align-items-center justify-content-end">
            <li><a href="/">Esileht</a></li>
            <li><a href="/news">Uudised</a></li>
            <li><a href="/kontakt">Kontakt</a></li>
        </ul>
    </div>
</div>