<!DOCTYPE html>
<html lang="en">
    <head>
        <title>Matkaklubi - Kontakt</title>
        <%- include("./partials/header.ejs") %>
    </head>
    <body>
        
        <div class="container">
            <%- include("./partials/menu.ejs")%>
            <div class="kontakt-sisu mt-3">
                <h2>Võta meiega ühendust</h2>
                <form class="register" method="post" action="/newMessage">
                    <div class="form-group">
                        <label for="name">Nimi</label>
                        <input placeholder="sinu nimi ..." type="text" class="form-control" id="name" name="name">
                    </div>
                    <div class="form-group">
                        <label for="text">Message</label>
                        <textarea placeholder="Kui on olulist infot..." class="form-control" name="text" id="text" rows="10"></textarea>
                    </div>
                    <input type="submit" value="Send">
                </form>
            </div>
        </div>
    </body>
</html>